body {
	background: #056c86;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
	margin:0 !important;
	padding:0 !important;
	padding-bottom:20px;
	overflow-y: scroll !important;
}

.headingMenu{
	font-size: 5em;
	font-weight: 300;
	margin-bottom: .5em;
}
.headerMenu{
	background: #004050;
	color: #fff;
	text-align: center;
}

.StatusBar{
	position: fixed !important;
	bottom: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 50px !important;
	background-color: #004050 !important;
	padding:10px 20px !important;
	z-index:10000  !important;
}
.icon{
	margin-top:25px;
}

.tile:hover{
	opacity: 0.90 !important;
	outline: #2F4F4F solid 1px;
}



.Start{
	color: white;
	font: normal 50px 'Yanone Kaffeesatz', sans-serif;
	margin-bottom: 20px;
	cursor: pointer;
	user-select: none;
	transition: all .3s ease;
}

.Start:hover{
	text-shadow: 0 0 4px white;
}

.bottom{
	bottom: 5px;
}

.top{
	top: 5px;
}

.fa{
	color:#FFFFFF;
}

.label{
	position: absolute;
	color: white;
	font: 500 12px sans-serif;
	left: 10px;
	user-select: none;
}


.C_red{
  background: #df0024 !important;
}
.C_blue{
	background: #00a9ec !important;
}
.C_blue-dark{
	background: #000080 !important;
}
.C_orange{
	background: #ff9000 !important;
}
.C_green{
	background: #0e5d30 !important;
}
.C_green-light{
	background: #ADFF2F !important;
}
.C_purple{
	background: #8b0189 !important;
}
.C_red-light{
	background: #ce4e4e !important;
}
.C_gray{
  background: #5f5f5f !important;
}
.C_green-bright{
	background: #78d204 !important;
}
.C_blue-nav{
	background: #25478e !important;
}
.C_redish{
	background: #fe0000 !important;
}
.C_yellow{
	background: #d0d204 !important;
}
.C_steel-blue{
	background: #4682B4 !important;
}
.C_rod{
	background: #DAA520 !important;
}

.uses{
	font-weight: bold;
}

.section_Modal{
	color:#004050;
	text-align:justify;
}





.ar{
	float: right;
}


form{
	background: #056c86; 
	padding: 10px; 
}
form p{
	padding: 5px 0;
}
form .title{ 
	min-width: 100px; 
	display: inline-block; 
}
form input[type=text], form input[type=password]{
	border: 1px solid #fff; 
	padding: 5px;
}
.button{
	display: inline-block;
	padding:5px 10px;
	z-index: 0; 
}


.button2{
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

.popup{
	padding: 10px 10px 35px;
	background: #056c86;
	z-index: 999;
	display: none;
	position: absolute;
	right: 5px; 
	bottom: 5px;
	border: 1px solid #004050;
}